# Copyright (c) 2026 GigaDevice Semiconductor Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_GD32M53X
	select ARM
	select CPU_HAS_ARM_MPU
	select CPU_HAS_FPU
	select ARMV8_M_DSP
	select CPU_CORTEX_M33
	select CPU_CORTEX_M_HAS_SYSTICK
	select CPU_CORTEX_M_HAS_DWT
	select GD32_HAS_AF_PINMUX
	select GD32_HAS_IRC_32K
	select HAS_GD32_HAL
	select SOC_RESET_HOOK
	select SOC_EARLY_INIT_HOOK
