# Copyright (c) 2022 Teslabs Engineering S.L.
# Copyright (c) 2026, GigaDevice Semiconductor Inc.
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_GD32
	bool "GD32 clock control"
	default y
	depends on DT_HAS_GD_GD32_CCTL_ENABLED
	help
	  Enable driver for Gigadevice Reset Clock Unit (RCU).

config CLOCK_CONTROL_GD32_CKOUT
	bool "GD32 CKOUT clock output"
	default y
	depends on DT_HAS_GD_GD32_CLOCK_CKOUT_ENABLED
	help
	  Enable driver for GD32 CKOUT clock output configuration.
