# Copyright (c) 2026, GigaDevice Semiconductor Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_GD32C11X
	bool
	select SOC_FAMILY_GD_GD32
	help
	  Enable support for GigaDevice GD32C11X MCU series

config SOC_SERIES
	default "gd32c11x" if SOC_SERIES_GD32C11X

config SOC_GD32C113
	bool
	select SOC_SERIES_GD32C11X

config SOC
	default "gd32c113" if SOC_GD32C113
