# Copyright (c) 2026 GigaDevice Semiconductor Inc.
# SPDX-License-Identifier: Apache-2.0

source [find interface/cmsis-dap.cfg]
transport select swd

set CHIPNAME gd32h759im
set CPUTAPID 0x790007a3

source [find target/gd32h7xx.cfg]

reset_config trst_and_srst separate

$_TARGETNAME configure -event gdb-attach {
	echo "Debugger attaching: halting execution"
	reset halt
	gdb_breakpoint_override hard
}

$_TARGETNAME configure -event gdb-detach {
	echo "Debugger detaching: resuming execution"
	resume
}
